* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#iys9zh {
    display: none;
}

.c6734 {
    font-size: 36pt;
    font-family: Arial;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    color: rgb(165, 0, 33);
}